@import './variables.scss';
@import './mixins.scss';

.header {
  @include size(100%, 92px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-color-dark;
  color: $font-color-links;
  padding: 0 20px;
}
.header__container {
  @include container(0, row, center, space-between);
  position: relative;
}
.header__logo {
  max-height: 24.7px;
  max-width: 122px;
}
.header__img {
  max-height: 100%;
  max-width: 100%;
}
.header__nav {
  @include size(700px, auto);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: $transition;
}

/* =========================== burger starts ========================== */
.burger-icon {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 10px;
  background-color: transparent;
  position: relative;
}
.burger-icon::after {
  content: "";
  position: absolute;
  inset: -10px;
}
.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background-color: $accent-color-light;
    transition: all .3s;
    cursor: pointer;
}
.burger-icon span {
  position: relative;
}
.burger-icon span::before,
.burger-icon span::after {
  position: absolute;
  content: '';
}
.burger-icon span::before {
  top: -8px;
}
.burger-icon span::after {
  bottom: -8px;
}
/* =========================== burger ends ========================== */

.header__nav-link--contact {
  @include size(185px, 60px);
  padding: 16px 48px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: $border-radius;
}
.header__nav-link {
  color: $font-color-links;
  transition: color .4s;
}
.header__nav-link:hover {
  color: $font-color-light;
}
.header__nav-link_accent-color {
  color: $font-color-light;
}

/* =========================== media starts ========================== */
@media (max-width: 900px) {
  .header__nav-list {
    position: fixed;
    inset: 0;
    background-color: $accent-color-dark;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(50%);
  }
  .burger-icon { 
    display: block;
    position: fixed;
    right: 30px;
    top: 40px;
  }
  .header__nav {
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .header__logo {
    width: 220px;
    height: 110px;
  }
  .header__img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .header__logo {
    width: 260px;
    height: 130px;
  }
}
/* =========================== menu opener ========================== */
.menu_opener .burger-icon span {
  background-color: transparent;
}
.menu_opener .burger-icon span::before {
  top: 0;
  transform: rotate(45deg);
}
.menu_opener .burger-icon span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.header__nav-list_mobile {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  z-index: 3;
}


