@import 'variables';
@import 'mixins';

/* ________________________________ main-work__hero starts ________________________________ */
.main-work__hero {
  @include section(column, center, 96px 0);
}
.main-work__hero-container {
  @include container(0, column, center);
}
.main-work__hero-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-work__hero-pre-title {
  font-weight: 600;
  opacity: $opacity;
}
.main-work__hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  margin-top: 4px;
}
.main-work__hero-text {
  @include size(733px, auto);
  font-weight: 500;
  opacity: $opacity;
  margin-top: 24px;
  text-align: center;
}
.main-work__hero-links-list {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 33px;
}
.main-work__hero-links-item {
}
.main-work__hero-links-link {
}
.main-work__hero-links-link-image {
  width: 16px;
  height: 16px;
}
.main-work__hero-content {
  @include section(column, center, 96px 0, $background-color-light);
}
.main-work__hero-content-container {
  @include container (48px, column, center);
}
.main-work__hero-content-buttons-list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.main-work__hero-content-item {
  
}
.main-work__hero-content-item-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: $font-color-dark;
  opacity: $opacity;
  background-color: transparent;
}
.--main-work__hero-content-buttons-list-active {
  color: $accent-link-color;
  opacity: 100%;
}
.main-work__hero-content-templates-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px 64px;
}
.main-work__hero-content-templates-item {
}
.main-work__hero-content-template-image-container {
  @include size(623px, 380px);
  position: relative;
}
.--gradient-1 {
  background-image: linear-gradient(to bottom right, #F4EDE1, #98B1C6);
}
.--gradient-2 {
  background-image: linear-gradient(to bottom right, #FFD3AF, #4F56FF);
}
.--gradient-3 {
  background-image: linear-gradient(to bottom right, #EEBCA7, #C8C8C8);
}
.--gradient-4 {
  background-image: linear-gradient(to bottom right, #C2E7F2, #98A4FF);
}
.--gradient-5 {
  background-image: linear-gradient(to bottom right, #C5BCFF, #9BF7D5);
}
.--gradient-6 {
  background-image: linear-gradient(to bottom right, #D2D6FD, #D6ACEA);
}
.main-work__hero-content-template-image {
  @include align-image();
}
.main-work__hero-content-template-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: $font-color-dark;
  margin-top: 24px;
}
.main-work__hero-content-template-text {
  opacity: $opacity;
  margin-top: 12px;
  margin-bottom: 24px;
}
.main-work__hero-content-template-link {
  font-weight: 500;
  line-height: 1.5;
  color: $font-color-dark;
}
.main-work__hero-content-template-link span {
  margin-right: 16px;
}
.main-work__hero-content-template-link path {
  fill: $font-color-dark;
}
.main-work__hero__bottom {
  @include section(column, center, 128px 0, $background-color-light, $font-color-dark);
  text-align: center;
}
.main-work__hero__bottom-container {
  @include container(0, column, center);
  @include size(730px, auto);
}
.main-work__hero__bottom-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}
.main-work__hero__bottom-text {
  @include size(562px, auto);
  font-weight: 500;
  opacity: $opacity;
  margin-top: 20px;
}



/* ________________________________ main-work__hero ends ________________________________ */
