@import 'variables';
@import 'mixins';

.main-privacy {
  @include section(column, center, 128px 0, $background-color-light);
}
.main-privacy__container {
  @include container(0, column, center);
}
.main-privacy__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-privacy__hero-title {
  @include title();
}
.main-privacy__hero-text {
  @include size(562px, 56px);
  margin-top: 16px;
  font-weight: 500;
  opacity: $opacity;
  text-align: center;
}
.main-privacy__content {
  @include size(840px, auto);
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.main-privacy__content p {
  opacity: $opacity;
}
.main-privacy__content-title {
  margin-top: 64px;
  @include title(38px, 56px, left);
}
.main-privacy__content-text-first {
  margin-top: 32px;
}
.main-privacy__content-text-second {
  margin-top: 24px;
}
.main-privacy__content-text-accent {
  color: $accent-link-color;
  opacity: 100%;
}
.main-privacy__content-second-title {
  @include title(38px, 56px, left);
  margin-top: 40px;
}
.main-privacy__content-text {
  margin-top: 32px;
}
.main-privacy__content-list {
  margin-top: 24px;
  display: flex;  
  flex-direction: column;
  gap: 12px;
}
.main-privacy__content-list-item {
  list-style-type: disc;
  margin-left: 20px;
  opacity: $opacity;
}
