@import 'variables';
@import 'mixins';

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color-links;
}

/* =========================== main__hero starts =========================== */
.main__hero {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 414px;
  padding: 128px 0;
  background-color: $accent-color-dark;
}
.main__hero-container {
  @include container(60px);
}
.main__hero-left {
  display: flex;
  flex-direction: column;
}
.main__hero-header {
  @include size(582px, 222px);
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  color: $font-color-light;
}
.main__hero-text {
  max-width: 562px;
  width: 100%;
  margin-top: 24px;
}
.main__hero-links-container {
  display: flex;
  align-items: center;
  margin-top: 48px;
}
.main__hero-btn {
  text-align: center;
}
.button {
  @include size(230px, 64px);
  background-color: $accent-color-light;
  color: $font-color-dark-2;
  padding: 16px 50px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  line-height: 32px;
  border-radius: $border-radius;
}
.main__hero-link {
  color: $font-color-light;
  font-weight: 500;
  margin: 18px 0 18px 40px;
}
.main__hero-link span {
  margin-right: 16px;
}
.main__hero-right {
  max-width: 638px;
  width: 100%;
  min-height: 361.12px;
}
.main__hero-right-block img {
  width: 100%;
  height: 100%;
}

/* =========================== main__hero ends =========================== */

/* =========================== main__second starts =========================== */

.main__second {
  display: flex;
  justify-content: center;
  background-color: $background-color-dark;
  width: 100%;
  padding: 128px 0;
}
.main__second-container {
  @include container(142px);
}
.main__second-left {
  @include size(405px, 184px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main__second-left-header {
  color: $font-color-dark;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}
.main__second-left-text {
  color: $font-color-dark;
}
.main__second-left-link {
}
.main__second-left-link span {
  color: #2405F2;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-right: 10px;
}
.main__second-left-link path {
  fill: #2405F2;
}
.main__second-right-list {
  @include size(656px, 405px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main__second-right-item {
}
.main__second-right-item-image {
}
.main__second-right-item-header {
  color: $font-color-dark;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
.main__second-right-item-text {
  @include size(303px, 56px);
  color: $font-color-dark;
}

/* =========================== main__second ends =========================== */

/* =========================== main__third starts =========================== */

.main__third {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color-light;
  width: 100%;
  padding: 128px 0;
}
.main__third-container {
  max-width: 1280px;
  width: 100%;
}
.main__third-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}
.main__third-header {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: $font-color-dark;
}
.main__third-link {
}
.main__third-link span {
  font-weight: 500;
  color: $font-color-dark;
  margin-right: 16px;
}
.main__third-link path {
  fill: $font-color-dark;
}
.main__third-content-container {
  position: relative;
  display: flex;
  gap: 23px;
}
.main__third-content-main-image-1 {
  @include size(843px, 600px);
}
.main__third-content-cover-block-1 {
  position: absolute;
  content: '';
  inset: 0;
  @include size(396px, 600px);
  background: linear-gradient(to top left, rgba(28, 30, 83, 1), rgb(28, 30, 83, 0.42));
  display: flex;
  flex-direction: column;
  padding: 312px 35px 76px 48px;
  gap: 16px;
}
.main__third-content-cover-block-1-link {
  color: $accent-color-light;
  margin-top: 24px;
}
.main__third-content-cover-block-1-link span {
  margin-right: 16px;
}
.main__third-content-cover-block-1-link path {
  fill: $accent-color-light;
}
.main__third-content-cover-block-1-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: $font-color-light;
}
.main__third-content-cover-block-1-text {
  color: $font-color-light;
}
.main__third-content-right-container {
  display: flex;
  flex-direction: column;
}
.main__third-content-portfolio-image-2 {
  @include size(405px, 284px);
  position: relative;
}
.main__third-content-portfolio-image-2 img {
  width: 100%;
}
.main__third-content-cover-block-2 {
  @include size(405px, 284px);
  position: absolute;
  content: '';
  inset: 0;
  opacity: 90%;
  background: linear-gradient(to top left, rgba(28, 30, 83, 1), rgb(28, 30, 83, 0.42));
  padding: 129px 36px 45px 56px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main__third-content-cover-block-2-header {
  @extend .main__third-content-cover-block-1-header;
  max-width: 313px;
  width: 100%;
}
.main__third-content-cover-block-2-link {
  @extend .main__third-content-cover-block-1-link;
}
.main__third-content-image-3 {
  @include size(405px, 284px);
  margin-top: 32px;
}

/* =========================== main__third ends =========================== */

/* =========================== main__fourth-features starts =========================== */

.main__fourth-features {
  background-color: $background-color-dark;
  color: $font-color-dark;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 128px 0;
}
.main__fourth-features-container {
  @include container(47px, column, center);
}
.main__fourth-features-header {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  max-width: 630px;
  width: 100%;
  text-align: center;
}
.main__fourth-features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px 32px;
}
.main__fourth-features-item {
  background-color: $background-color-light;
  padding: 48px 32px 48px 48px;
  display: flex;
  flex-direction: column;
  @include size(405px, 316px);
}
.main__fourth-features-item-icon {
  margin-bottom: 22px;
  width: 32px;
}
.main__fourth-features-item-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 12px;
}

/* =========================== main__fourth-features ends =========================== */

/* =========================== main__fifth starts =========================== */

.main__fifth {
  background-color: rgba(244, 246, 252, 0.5);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 128px 0;
}
.main__fifth-container {
  @include container(110px);
}
.main__fifth-left {
  @include size(327px, 184px);
}
.main__fifth-header {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: $font-color-dark;
}
.main__fifth-text {
  margin-top: 16px;
}
.main__fifth-right {
  @include size(843px, 250px);
  position: relative;
  display: flex;
  flex-direction: column;
}
.main__fifth-quote {
}
.main__fifth-quote-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: $font-color-dark;
}
.main__fifth-quote-author {
  @include size(240px, 70px);
  color: $font-color-dark;
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0 14px;
  align-items: center;
}
.main__fifth-quote-author-avatar-container {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.main__fifth-quote-author-avatar {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  object-position: 35% 30%;
  transform: scale(1.1);
}
.main__fifth-quote-author-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: $font-color-dark;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end;
}
.main__fifth-quote-author-position {
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  color: $font-color-dark;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: starts;
}
.main__fifth-buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main__fifth-buttons-container img:hover {
  filter: invert(100%);
}
.main__fifth-buttons-container-arrow-left,
.main__fifth-buttons-container-arrow-right {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 18px;
  cursor: pointer;
  transition: $transition;
}
.main__fifth-buttons-container-arrow-right svg {
  transform: rotate(180deg);
}
.main__fifth-buttons-container-arrow-left:hover,
.main__fifth-buttons-container-arrow-right:hover {
  background-color: $fill-color;
}
.main__fifth-buttons-container-arrow-left:focus,
.main__fifth-buttons-container-arrow-right:focus {
  background-color: $fill-color;
}
.main__fifth-buttons-container-arrow-left:hover svg path,
.main__fifth-buttons-container-arrow-right:hover svg path {
  fill: #FFFFFF;
}
.main__fifth-buttons-container-arrow-left:hover svg g,
.main__fifth-buttons-container-arrow-right:hover svg g {
  opacity: 1;
}

/* =========================== main__fifth ends =========================== */

/* =========================== main__sixth starts =========================== */

.main__sixth {
  background-color: $background-color-light;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 128px 0;
  color: $font-color-dark;
}
.main__sixth--padding-bottom-correcting {
  padding-bottom: 0;
}
.main__sixth-container {
  @include container(110px);
}
.main__sixth-left {
  display: flex;
  flex-direction: column;
}
.main__sixth-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 56px;
}
.main__sixth-header-link {
  margin-top: 16px;
  color: $accent-link-color;
}
.main__sixth-right-list {
  display: flex;
  flex-direction: column;
  @include size(843px, auto);
}
.main__sixth-right-list:first-child {
  margin-top: 0;
}
.main__sixth-right-list-item {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $border-bottom-color;
  transition: $transition;
}
.main__sixth-right-list-item-open-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main__sixth-right-list-item-number {
  width: 24px;
  height: 36px;
  margin-left: 27px;
}
.--one {
  width: 20px;
  height: 16px;
}
.main__sixth-right-list-item-content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main__sixth-right-list-item-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-left: 60px;
}
.main__sixth-right-list-item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-top: 31px;
  max-width: 642px;
  width: 100%;
  transition: max-height 0.3s, opacity 0.4s;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
.main__sixth-right-list-item-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: auto;
  transition: all .4s;
}
.main__sixth-right-list-item-icon:hover {
  transform: rotate(45deg);
}
.--accordion-active {
  opacity: 1;
  visibility: visible;
  max-height: 62px;
  margin: 16px 0 16px 110px;
}
.--accordion-icon-active {
  transform: rotate(45deg);
}

/* =========================== main__sixth ends =========================== */

/* =========================== main__seventh starts =========================== */

.main__seventh {
  background-color: $background-color-light;
  display: flex;
  justify-content: center;
  width: 100%;
  color: $font-color-light;
}
.main__seventh-container {
  @include container(0);
}
.main__seventh-left {
  @include size(656px, 691px);
  background-image: url("../../assets//images/bg_section_7.jpeg");
  padding: 96px 96px 48px 96px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main__seventh-left-header {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
}
.main__seventh-left-text {
  font-weight: 500;
  color: rgba(255, 255, 255, 80%);
}
.main__seventh-right {
  @include size(624px, 691px);
  display: flex;
  flex-direction: column;
  padding: 96px 96px 48px 96px;
  background-color: $background-color-darker;
}
.main__seventh-right-header {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.main__seventh-right-text {
  font-weight: 500;
  margin-top: 16px;
  color: rgba(244, 246, 252, 80%);
}
.main__seventh-right-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__seventh-right-form input {
  background-color: transparent;
  border: 1.5px solid #ffffff0d;
  border-radius: 8px;
  padding: 18px 32px;
  width: 100%;
}
.main__seventh-right-form input::placeholder {
  color: rgba(244, 246, 252, 60%);
}
.main__seventh-right-form-input-name {

}
.main__seventh-right-form-input-email {
  margin-top: 16px;
}
.main__seventh-right-form-input-url {
  margin-top: 16px;
}
.main__seventh-right-form-button {
  margin-top: 40px;
  @include size(432px, 64px);
  padding: 15px 52px;
}
.main__seventh-right-form-link {
  margin-top: 28px;
}
.main__seventh-right-form-link span {
  font-weight: 500;
  color: $font-color-light;
  margin-right: 16px;
  font-size: 18px;
  line-height: 32px;
}
.main__seventh-right-form-link path {
  fill: $font-color-light;
}

/* =========================== main__seventh ends =========================== */

/* =========================== main__eight starts =========================== */

.main__eight-our-blog {
  background-color: $background-color-light;
  display: flex;
  justify-content: center;
  width: 100%;
  color: $font-color-dark;
  padding: 128px 0;
}
.main__eight-our-blog-container {
  @include container(0, column)
}
.main__eight-our-blog-header {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.main__eight-our-blog-list {
  display: flex;
  gap: 32px;
  margin-top: 64px;
}
.main__eight-our-blog-list-item {
  display: flex;
  flex-direction: column;
}
.main__eight-our-blog-list-item-image-container {
}
.main__eight-our-blog-list-item-image {
}
.main__eight-our-blog-list-item-date {
  margin-top: 40px;
  color: $font-color-links;
  font-weight: 500;
}
.main__eight-our-blog-list-item-sub-header {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: $font-color-dark;
}
.main__eight-our-blog-list-item-text {
  margin-top: 16px;
  color: $font-color-links;
}
.main__eight-our-blog-list-item-link {
  margin-top: 32px;
}

.main__eight-our-blog-list-item-link span {
  margin-right: 16px;
}

.main__eight-our-blog-list-item-link path {
  fill: $font-color-dark;
}

/* =========================== main__eight ends =========================== */