@import 'variables';
@import 'mixins';

/* ________________________________ main-work__hero starts ________________________________ */

.main-work__hero {
  @include section(column, center, 96px 0);

}
.main-work__hero-container {
  @include container(0, column, center);
}
.main-work__hero-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-work__hero-pre-title {
  font-weight: 600;
  opacity: $opacity;
}
.main-work__hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  margin-top: 4px;
}
.main-work__hero-text {
  @include size(733px, auto);
  font-weight: 500;
  opacity: $opacity;
  margin-top: 24px;
  text-align: center;
}
.main-work__hero-links-list {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 33px;
}
.main-work__hero-links-item {
}
.main-work__hero-links-link {
}
.main-work__hero-links-link-image {
  width: 16px;
  height: 16px;
}
.main-work__hero-content {

}
.main-work__hero-content-buttons-list {
}
.main-work__hero-content-item {
}
.main-work__hero-content-item-button {
}
.main-work__hero-content-templates-list {
}
.main-work__hero-content-templates-item {
}
.main-work__hero-content-template-image-container {
}
.main-work__hero-content-template-image {
}
.main-work__hero-content-template-title {
}
.main-work__hero-content-template-text {
}
.main-work__hero-content-template-link {
}

/* ________________________________ main-work__hero ends ________________________________ */

