@mixin size ($width, $height) {
  max-width: $width;
  width: 100%;
  min-height: $height;
}

@mixin container($gap, $direction: row, $align: stretch) {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
}

@mixin section(
$direction: row, 
$align: stretch,
$padding: 128px 0, 
$background: $background-color-dark, 
$color: $font-color-dark) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  width: 100%;
  background-color: $background;
  color: $color;
  padding: $padding;
}