@mixin section(
$direction: row, 
$align: stretch,
$padding: 128px 0, 
$background: $background-color-dark, 
$color: $font-color-dark
) 
{
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  width: 100%;
  background-color: $background;
  color: $color;
  padding: $padding;
}

@mixin container(
  $gap, 
  $direction: row, 
  $align: stretch
) 
{
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
}

@mixin align-image {
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@mixin size (
  $width, $height
) 
{
  max-width: $width;
  width: 100%;
  min-height: $height;
}

@mixin title (
  $font-size: 48px, 
  $line-height: 64px,
  $align: center,
  $font-weight: 600, 
) 
{
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-align: $align;
}