@import '../css/reset';
@import 'variables';
@import 'header';
@import 'main';
@import 'footer';
@import 'main-about';
@import 'main-pricing.scss';
@import 'main-features.scss';
@import 'main-work.scss';
@import 'main-read-case.scss';
@import 'main-blog-page.scss';
@import 'main-read-blog.scss';

body {
  font-family: Poppins;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}


