$background-color-light: #FFFFFF;
$background-color-dark: #F4F6FC;
$accent-color-light: #FCD980;
$accent-color-dark: rgb(28, 30, 83);
$accent-link-color: #2405F2;
$font-color-light: #FFF;
$font-color-dark: #282938;
$font-color-dark-2: #1B1C2B;
$font-color-links: #BBBBCB;
$fill-color: #5239FA;
$transition: all .4s;
$border-radius: 41px;