$background-color-light: #FFFFFF;
$background-color-dark: #F4F6FC;
$accent-color-light: #FCD980;
$accent-color-dark: #1C1E53;
$font-color-light: #FFFFFF;
$font-color-dark: #282938;
$font-color-links: #BBBBCB;
$font-color-active: #FFF;
$transition: all .4s;