.main-work__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f4f6fc;
  color: #282938;
  padding: 96px 10px;
  justify-content: initial;
}

.main-work__hero-container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: initial;
}

.main-work__hero-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-work__hero-pre-title {
  font-weight: 600;
  opacity: 70%;
}

.main-work__hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  margin-top: 4px;
}

.main-work__hero-text {
  max-width: 733px;
  width: 100%;
  min-height: auto;
  font-weight: 500;
  opacity: 70%;
  margin-top: 24px;
  text-align: center;
}

.main-work__hero-links-list {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 33px;
}

.main-work__hero-links-link-image {
  width: 16px;
  height: 16px;
}

.main-work__hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  color: #282938;
  padding: 96px 10px;
  justify-content: initial;
}

.main-work__hero-content-container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: initial;
}

.main-work__hero-content-buttons-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.main-work__hero-content-item-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
  opacity: 70%;
  background-color: transparent;
}

.--main-work__hero-content-buttons-list-active {
  color: #2405F2;
  opacity: 100%;
}

.main-work__hero-content-templates-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px 64px;
}

.main-work__hero-content-templates-item {
  animation: appearing 0.5s forwards;
  display: flex;
  flex-direction: column;
}

@keyframes appearing {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.main-work__hero-content-template-image-container {
  max-width: 623px;
  width: 100%;
  min-height: 380px;
  position: relative;
}

.--gradient-1 {
  background-image: linear-gradient(to bottom right, #F4EDE1, #98B1C6);
}

.--gradient-2 {
  background-image: linear-gradient(to bottom right, #FFD3AF, #4F56FF);
}

.--gradient-3 {
  background-image: linear-gradient(to bottom right, #EEBCA7, #C8C8C8);
}

.--gradient-4 {
  background-image: linear-gradient(to bottom right, #C2E7F2, #98A4FF);
}

.--gradient-5 {
  background-image: linear-gradient(to bottom right, #C5BCFF, #9BF7D5);
}

.--gradient-6 {
  background-image: linear-gradient(to bottom right, #D2D6FD, #D6ACEA);
}

.main-work__hero-content-template-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
}

.main-work__hero-content-template-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  margin-top: 24px;
}

.main-work__hero-content-template-text {
  opacity: 70%;
  margin-top: 12px;
  margin-bottom: 24px;
}

.main-work__hero-content-template-link {
  font-weight: 500;
  line-height: 1.5;
  color: #282938;
}

.main-work__hero-content-template-link span {
  margin-right: 16px;
}

.main-work__hero-content-template-link path {
  fill: #282938;
}

.main-work__hero__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  color: #282938;
  padding: 0 10px 128px 10px;
  justify-content: initial;
  text-align: center;
}

.main-work__hero__bottom-container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: initial;
  max-width: 730px;
  width: 100%;
  min-height: auto;
}

.main-work__hero__bottom-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}

.main-work__hero__bottom-text {
  max-width: 562px;
  width: 100%;
  min-height: auto;
  font-weight: 500;
  opacity: 70%;
  margin-top: 20px;
}

/* ________________________________ media queries start ________________________________ */
@media (max-width: 1100px) {
  .main-work__hero-content-templates-list {
    gap: 34px 34px;
  }
}
@media (max-width: 900px) {
  .main-work__hero-content-templates-list {
    grid-template-columns: 1fr;
  }
  .main-work__hero-content-templates-item {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .main-work__hero {
    padding: 60px 10px;
  }
  .main-work__hero-title {
    font-size: 38px;
    line-height: 54px;
    text-align: center;
  }
  .main-work__hero-content {
    padding: 60px 10px;
  }
  .main-work__hero-content-buttons-list {
    gap: 16px;
  }
  .main-work__hero-content-item-button {
    font-size: 16px;
  }
  .main-work__hero-content-template-image-container {
    min-height: 300px;
  }
  .main-work__hero__bottom {
    padding-bottom: 60px;
  }
}
@media (max-width: 400px) {
  .main-work__hero-title {
    font-size: 30px;
    line-height: 44px;
  }
  .main-work__hero-content-buttons-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    text-align: center;
  }
  .main-work__hero-content-template-image-container {
    min-height: 250px;
  }
  .main-work__hero-content-template-title {
    font-size: 32px;
    line-height: 46px;
  }
  .main-work__hero__bottom-title {
    font-size: 38px;
    line-height: 54px;
  }
}
@media (max-width: 350px) {
  .main-work__hero-content-template-image-container {
    min-height: 200px;
  }
}/*# sourceMappingURL=main-work.css.map */