.main__read-case-studies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  color: #282938;
  padding: 128px 0;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  padding-bottom: 0;
}

.main__read-case-studies-hero {
  max-width: 1280px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.main__read-case-studies-hero-title-container {
  max-width: 1064px;
  width: 100%;
  min-height: auto;
}

.main__read-case-studies-hero-pre-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  opacity: 80%;
}

.main__read-case-studies-hero-title {
  max-width: 646px;
  width: 100%;
  min-height: 128px;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  margin-top: 12px;
}

.main__read-case-studies-hero-text {
  max-width: 817px;
  width: 100%;
  min-height: 84px;
  font-weight: 500;
  opacity: 70%;
  margin-top: 16px;
}

.main__read-case-studies-hero-image-container {
  max-width: 1064px;
  width: 100%;
  min-height: 641px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#F4EDE1), to(#98B1C6));
  background-image: linear-gradient(to bottom right, #F4EDE1, #98B1C6);
  position: relative;
  margin: 48px 0;
}

.main__read-case-studies-hero-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 888px;
  width: 100%;
  min-height: 516px;
}

.main__read-case-studies-hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(40, 41, 56, 0.3);
  max-width: 1064px;
  width: 100%;
  min-height: auto;
  margin-top: 48px;
}

.main__read-case-studies-hero-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.main__read-case-studies-hero-item-sub-title {
  font-weight: 500;
  opacity: 80%;
}

.main__read-case-studies-hero-item-content {
  margin-top: 4px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 31.5px;
}

.main__read-case-studies-hero-auxiliary-container {
  max-width: 840px;
  width: 100%;
  min-height: auto;
  margin-top: 96.5px;
}

.main__read-case-studies-hero-auxiliary-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
}

.main__read-case-studies-hero-auxiliary-text {
  opacity: 70%;
  margin-top: 12px;
}

.main__read-case-studies-hero-auxiliary-list {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-left: 20px;
}

.main__read-case-studies-hero-auxiliary-item {
  list-style-type: disc;
}

.main__read-case-studies-hero-image-container-2 {
  max-width: 840px;
  width: 100%;
  min-height: 508px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#F4EDE1), to(#98B1C6));
  background-image: linear-gradient(to bottom right, #F4EDE1, #98B1C6);
  margin: 64px 0;
}

.main__read-case-studies-hero-image-2 {
  max-width: 728px;
  width: 100%;
  min-height: 423px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main__read-case-studies-hero-link-list {
  max-width: 1064px;
  width: 100%;
  min-height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  margin-top: 111px;
  border-top: 1px solid rgba(40, 41, 56, 0.2);
  border-bottom: 1px solid rgba(40, 41, 56, 0.2);
}

.main__read-case-studies-hero-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  opacity: 70%;
}

.--main__read-case-studies-hero-link-active {
  color: #2405F2;
  font-size: 24px;
  line-height: 36px;
  opacity: 100%;
}